.navbar{
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
}
.navbar img{ 
    width: 8%; 
    margin: 5px 55px 5px 10px;
}
/* Search Box */

.search_box{
    display: flex;
    margin-left: 30px;
}

.search_box i{
    background-color: black;
    color: white;
    padding: 14px;
    font-size: 15px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
.searchclass{
    padding: 10px;
    width: 400px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px 0 0 6px;
}



/* Message icon */
.message i{
    font-size: 22px;
    color: black;
    cursor: pointer;
    margin-left: 25px;
}


/* IMAGE ON NAVBAR */

.girl_img img{
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 55px;
}
.nameandimg img{
    width: 55px;
    border-radius: 50%;
}
.nameandimg p{
    font-size: 18;
    font-weight: bold;
}
.nameandimg{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
}

/* Drop Down Menu */

.dropdown{
    width: 250px;
    box-shadow: 0 0 10px grey;
    padding: 15px;
    background-color: white;
    display: none;
    position: absolute;
    top: 60px;

}

.dropdown ul li{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.dropdown ul li:hover{
    background-color: #c7dcff;
}

.dropdown ul{
    margin-top: 20px;

}

.dropdown ul li i{
    color: black;
    font-size: 17px;

}
.dropdown ul li p{
    margin-left: 10px;
    font-size: 17px;
}

.block_div{
    display: block;
}

/* Country Select */


/* SELL BUTTON */

.selling_page button{
    margin-left: 25px;
    border-style:solid ;
    border-width: 5px;
    border-top-color: #23e5db;
    border-left-color: #ffce32;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    font-size: 15px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 30px;
    background-color: white;
    color: black;
    display: flex;
}

/* Product Image */
.product_img{
    width:1200px;
    display: flex;
    margin: auto;
    background-color: #23e5db;
    margin-bottom: 100px;
    margin-top: 50px;
}
.image_description{
    width: 800px;
    background-color: #3a77ff;
}
.image_description img{
    width: 800px;
}

#prev{
    color: white;
}
#next{
    color: white;
}
.swiper{
    width:600px;
    height: 300px;
}